<div class="page">   
     
    <div class="height7" style="background: #e6e6e6;">
          <img class="logo" src="assets/img/logo.png" />
            <div class="heading">
                <h2>FEM</h2>
            </div>
            <div class="pull-right time">
                <h2>{{time}}</h2>
            </div>
    </div>

    <div class="height22">
        <div class="col-md-12 height100">
            <div class="col-md-3 boxParent paddLeft5">
                <div class="box">
                    <h2 class="boxLbl">QUEUE</h2>
                    <h1 id="fem_QUEUE" class="boxValue red">{{QUEUE}}</h1>
                </div>
            </div>
            <div class="col-md-3 boxParent">
                <div class="box">
                    <h2 class="boxLbl">BUFFER</h2>
                    <h1 id="fem_BUFFER" class="boxValue green">{{BUFFER}}</h1>
                </div>
            </div>
            <div class="col-md-3 boxParent">
                <div class="box">
                    <h2 class="boxLbl">LAST RECEIVED</h2>
                    <h1 class="boxValue">{{LASTRECEIVED}}</h1>
                </div>
            </div>
            <div class="col-md-3 boxParent">
                <div class="box">
                    <h2 class="boxLbl">INSTALL POINT</h2>
                    <h1 class="boxValue">{{INSTALLPOINT}}</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="height37">
        <div class="col-md-12 height100">
            <div class="col-md-6 boxParent height100 paddLeft5">
                <div class="tableHead height25">
                    <div class="col1">
                        <h2 class="colHead">#</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colHead">1ST</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colHead">2ND</h2>
                    </div>
                </div>
                <div class="tableOddRow height25">
                    <div class="col1">
                        <h2 class="colRow">FEM</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colRow">{{FEM_1ST}}</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colRow">{{FEM_2ND}}</h2>
                    </div>
                </div>
                <div class="tableEvenRow height25">
                    <div class="col1">
                        <h2 class="colRow">AAD</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colRow">{{AAD_1ST}}</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colRow">{{AAD_2ND}}</h2>
                    </div>
                </div>
                <div class="tableOddRow height25">
                    <div class="col1">
                        <h2 class="colRow">FCA</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colRow">{{FCA_1ST}}</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colRow">{{FCA_2ND}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 boxParent height100">
                <div class="tableHead height25">
                    <div class="col1">
                        <h2 class="colHead">#</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colHead">1ST</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colHead">2ND</h2>
                    </div>
                </div>
                <div class="tableOddRow height25">
                    <div class="col1">
                        <h2 class="colRow">CARRIER</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colRow">{{CARRIER_1ST}}</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colRow">{{CARRIER_2ND}}</h2>
                    </div>
                </div>
                <div class="tableEvenRow height25">
                    <div class="col1">
                        <h2 class="colRow">AGS</h2>
                    </div>
                    <div class="col2">
                        <h2 class="colRow">{{AGS_1ST}}</h2>
                    </div>
                    <div class="col3">
                        <h2 class="colRow">{{AGS_2ND}}</h2>
                    </div>
                </div>
                <div class="tableOddRow height25">
                    <div class="col1">
                        <h2 class="colRow"></h2>
                    </div>
                    <div class="col2">
                        <h2 class="colRow"></h2>
                    </div>
                    <div class="col3">
                        <h2 class="colRow"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="height6" style="padding:5px 5px 0 5px;">
        <div class="lastMSG height100">
            <h2 class="green">LAST MSG : {{LAST_MSG}} MIN AGO</h2>
        </div>
    </div>


    <div class="height6" style="padding:5px 5px 0 5px;">
        <div class="shipping height100">
            <h2>SHIPPING : {{SHIPMENTCOUNT}} OUT OF 45</h2>
        </div>
    </div>


    <div class="height22">
        <div class="col-md-12 height100">
            <div class="col-md-3 boxParent paddLeft5 paddBottom5">
                <div class="box">
                    <div class="box">
                        <h2 class="boxLbl">LAST LOADED</h2>
                        <h1 class="boxValue">{{LASTLOADED}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 boxParent paddBottom5">
                <div class="box">
                    <div class="box">
                        <h2 class="boxLbl">LAST SHIPPED</h2>
                        <h1 class="boxValue">{{LASTSHIPPED }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 boxParent paddBottom5">
                <div class="box">
                    <div class="box">
                        <h2 class="boxLbl">FCA (JPH)</h2>
                        <h1 class="boxValue">{{FCA_JPH}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 boxParent paddBottom5">
                <div class="box">
                    <div class="box">
                        <h2 class="boxLbl">AIM (JPH)</h2>
                        <h1 class="boxValue">{{AIM_JPH}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> 

<div id="loaderDiv" class="loaderDiv_P">
    <div class="loaderDiv_C">
        <img src="assets/img/loading.GIF" width="100">
    </div>

</div>