.page {
    background: #000;
    height: 100vh;
}

    .page .col-md-12 {
        padding: 0 !important;
    }

    /*height*/

.height7{
    height:7%;
}
.height22{
    height:22%;
}
.height37{
    height:37%;
}
.height6{
    height:6%;
}

/* header */
header {
    background: #e6e6e6;
    position: fixed;
    width: 100%;
    padding: 3px 10px;
    display: inline-block;
    z-index: 888888;
}

.padd6px {
}

.logo {
        height: 100%;
    padding: 4px;
}

.heading {
    position: absolute;
    top: 0%;
    right: 47%;
}

    .heading h2 {
            margin: 0;
    font-size: 6rem;
    font-weight: bold;
    color: #000;
    }

.time h2 {
    margin: 0;
    font-size: 6rem;
    line-height: 4.rem;
    font-weight: bold;
    margin-right: 10px;
}
/*end*/

.border {
    border: 1px solid #fff;
}

.box {
    background:#033c4f;
        height: 100%;
}
.boxParent
{
    height: 100%;
    padding: 5px 5px 0px 0 !important;
}
.height100{
    height:100%;
}
.paddLeft5
{
    padding-left:5px !important;
}
.paddBottom5
{
    padding-bottom:5px !important;
}
.boxLbl
{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 5.3rem;
    padding: 20px 0 10px 0;
}
.boxValue
{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 7rem;
    padding: 20px 0 10px 0;
    font-weight:bold;
}
.red
{
    color:#ff0000 !important;
}
.green
{
    color:#00ff30 !important;
}
.yellow
{
    color:#fff600 !important;
}

.tableHead{
    background:#e6e6e6;
    color:#000;
    border:1px solid #dddcdc;
}
.tableOddRow
{
    background:#272727;
    color:#000;
    border:1px solid #dddcdc;
}
.tableEvenRow
{
    background:#5f5e5e;
    color:#000;
    border:1px solid #dddcdc;
}
.col1{
    float:left; width:60%; height: 100%; border-right:1px solid #b3b2b2;
}
.col2{
    float:left; width:20%; height: 100%; border-right:1px solid #b3b2b2;
}
.col3{
    float:left; width:20%; height: 100%;
}
.colHead
{
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    font-size: 5.3rem;
    padding: 20px 0 10px 10px;
    text-align:center;
    font-weight:bold;
}
.col1 h2{
    text-align:left !important;
}

.colRow
{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-size: 5.3rem;
    padding: 20px 0 10px 10px;
     text-align:center;
}

.col1 h2{
    text-align:left !important;
}

.lastMSG
{
    background:#5f5e5e;
    border:1px solid #dddcdc;
}
.lastMSG h2{
    margin: 0;
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
    color: #000;
}
.shipping
{
    background:#e6e6e6;
    border:1px solid #dddcdc;
}
.shipping h2{
    margin: 0;
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
    color: #000;
}
.height25{
    height:25%;
}


/*responsive*/


/* Desktops */

@media (max-width: 1500px) {
    .time h2, .heading h2 {
        font-size: 4rem;
    }
  .boxLbl
{
   
    font-size: 3rem;
}
.boxValue
{
    font-size: 5rem;
    padding:0;
}
    .colHead, .colRow{
        font-size: 3rem;
        padding: 15px 0 10px 10px;
    }
    .lastMSG h2, .shipping h2{
        font-size: 3rem;
        line-height: 3.4rem;
    }
}

/* Laptops */

@media (min-width: 1025px) and (max-width: 1280px) {
.boxLbl
{
   
    font-size: 3rem;
}
.boxValue
{
    font-size: 4rem;
}
}

/* Tablets, Ipads */

@media (min-width: 768px) and (max-width: 1024px) {
    .page {
        height: auto;
    }

    .height7 {
        height: auto;
    }

    .height22 {
        height: auto;
    }

    .height37 {
        height: 500px;
    }

    .height6 {
        height: auto;
    }

    .height37 .height100 {
        height: auto;
    }

    .boxParent {
        height: 100%;
        padding: 5px 5px 5px 5px !important;
    }
    .height25
    {
        height:60px;
    }
}
/* Tablets, Ipads (landscape) */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 .boxLbl
{
   
    font-size: 3rem;
}
.boxValue
{
    font-size: 4rem;
}
  
}

/* Mobiles (Landscape) */

@media (min-width: 481px) and (max-width: 767px) {
  
 
  
}

/* Mobiles (Portrait) */

@media (min-width: 320px) and (max-width: 480px) {
  
   .page {
        height: auto;
    }

    .height7 {
        height: auto;
    }

    .height22 {
        height: auto;
    }

    .height37 {
        height: 500px;
    }

    .height6 {
        height: auto;
    }

    .height37 .height100 {
        height: auto;
    }

    .boxParent {
        height: 100%;
        padding: 5px 5px 5px 5px !important;
    }
    .height25
    {
        height:60px;
    }
  .time h2, .heading h2 {
    font-size: 2rem;
        line-height: 4rem;
    }
  .logo{
    height: 100%;
    padding: 4px;
    width: 150px;
}
}

.loaderDiv_P {
    display: none;
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.58);
}