<div id="mySidenav" class="sidenav" style="width:300px;">
    <div>
        <div class="dropdownlink firstLI">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter
            <!--<a *ngIf="filterdata?.length > 0" class="pull-right clearall" (click)="ClearAllFilters()">Clear All</a>-->
        </div>

    </div>

    <ul style="margin-bottom:5px;padding:0px;">

        <li>
            <div class="dropdownlink" (click)="filterClick('Line_list')">
                Line
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Line_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Line"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Line"
                                   data-name="Line_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let ln of Lines;let i = index;"
                    data-name="LINE"
                    attr.data-nm="{{ln.name}}" attr.data-valid="{{ln.name}}"
                    id="li_ln_{{ln.name}}">
                    <a id="a_ln{{ln.name+i}}"><i id="chk_ln{{i+1}}" class="fa fa-circle-o iconColor"></i>{{ln.name}}</a>
                </li>
            </ul>
        </li>

        <li>
            <div id="daterange_picker" class="DateRange" *ngFor="let dateInput of dateInputs">
                <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }"
                     (selected)="selectedDate($event, dateInput)">
                    <span class="form-control uneditable-input" name="daterange">
                        From : {{ dateInput.start | date:'M/dd/y' }} To: {{ dateInput.end| date:'M/dd/y' }}
                    </span>
                    <span class="input-group-btn">
                        <span type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar iconColor"></i></span>
                    </span>
                </div>
            </div>
        </li>
        <li></li>
    </ul>
    <div *ngIf="lineName!=''" class="btn btn-block btn-primary" style="margin-bottom: 12px;" (click)="sendParameterToReport()">EXECUTE</div>
</div>


<div id="mainsub" style="margin-left:300px;">
    <div id="btnFilter" (click)="openNav()" class="filter_toggle_btn secondarybackgroundColor primarytxtColor">
        <i id="filterToggle" class="fa fa-angle-left"></i>
    </div>
    <div id="mainSecondDivSub">
        <div>
            <p class="reportHeading">Parts Per Operator</p>
        </div>
        <iframe id="pphoperator_Iframe" (load)="oniFrameLoad($event)" frameborder="0" data-value="init" style="height:79.1vh;width:100%; border:1px solid #CCC"></iframe>
    </div>
</div>