

<div id="mySidenav" class="sidenav" style="width:300px;">
    <div>
        <div class="dropdownlink firstLI">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter
            <!--<a *ngIf="filterdata?.length > 0" class="pull-right clearall" (click)="ClearAllFilters()">Clear All</a>-->
        </div>

    </div>

    <ul style="margin-bottom:5px;padding:0px;">
        <li>
            <div class="dropdownlink" (click)="filterClick('Line_list')">
                Line
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Line_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Line"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Line"
                                   data-name="Line_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" data-ulid="Line_list" *ngFor="let ln of Lines;let i = index;"
                    data-name="LINE"
                    attr.data-nm="{{ln.id}}" attr.data-valid="{{ln.name}}"
                    id="li_ln_{{ln.name}}">
                    <a id="a_ln{{ln.name+i}}"><i id="chk_ln{{i+1}}" class="fa fa-circle-o iconColor"></i>{{ln.name}}</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="dropdownlink" (click)="filterClick('Braodcast_list')">
                Broadcast Type
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Braodcast_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Broadcast"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Braodcast"
                                   data-name="Braodcast_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" data-ulid="Braodcast_list" *ngFor="let ln of Broadcasts;let i = index;"
                    data-name="BROADCAST"
                    attr.data-nm="{{ln.name}}" attr.data-valid="{{ln.name}}"
                    id="li_ln_{{ln.name}}">
                    <a id="a_ln{{ln.name+i}}"><i id="chk_ln{{i+1}}" class="fa fa-circle-o iconColor"></i>{{ln.name}}</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="dropdownlink" (click)="filterClick('Sequence_list')">
                Sequence Number
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Sequence_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Enter Sequence Number"
                                   type="text"
                                   [(ngModel)]="Sequence"
                                   class="form-control input-md global_filter"
                                   id="filter_Sequence"
                                   />
                        </div>
                    </div>
                </li>
               
            </ul>
        </li>
        <li>
            <div class="dropdownlink" (click)="filterClick('VIN_list')">
                VIN
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="VIN_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Enter Line"
                                   type="text"
                                   [(ngModel)]="VIN"
                                   class="form-control input-md global_filter"
                                   id="filter_VIN"
                                    />
                        </div>
                    </div>
                </li>
             
            </ul>
        </li>
        <li></li>
    </ul>
    <div *ngIf="Sequence!='' || VIN!=''" class="btn btn-block btn-primary" style="margin-bottom: 12px;" (click)="sendParameterToReport()">EXECUTE</div>
</div>

<style>
   
</style>
<div id="mainsub" style="margin-left:300px;">
    <div id="btnFilter" (click)="openNav()" class="filter_toggle_btn secondarybackgroundColor primarytxtColor">
        <i id="filterToggle" class="fa fa-angle-left"></i>
    </div>
    <div id="mainSecondDivSub">
        <div>
            <p class="reportHeading">Raw Data Query</p>
        </div>
        <div *ngIf="flag" class="col-md-12" style="font-size: 35px; margin: 21% auto;text-align: center;">
            No Data Found
        </div>
        <!--<iframe id="rowdataquery_Iframe" (load)="oniFrameLoad($event)" frameborder="0" data-value="init" style="height:79.1vh;width:100%; border:1px solid #CCC"></iframe>-->
        <div id="rawdata" class="col-md-12">
            <div style="width:90%; margin:0 auto;">
                <div class="divTextarea">
                    <p style="font-size: 16px; word-wrap: break-word; margin:0;">{{RawData}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="btnSubmit">
            <div style="width: 35px; margin: 5px auto;">
                <div data-toggle="tooltip" data-placement="top" title="Parsed" class="btn btn-primary" (click)="showParsed()"
                     style="border-radius: 50%; padding: 6px 10px;">
                    <i class="fa fa-arrow-down"></i>
                </div>
            </div>
        </div>
        <div id="divParsed" style="display:none;">
            <div class="col-md-12">
                <p style="text-align: center;
    font-size: 18px;
    margin: 0;">Parsed Broadcast Message Contents</p>
            </div>
            
            <div class="col-md-12">
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading secondPanel" style="background:#050203b0;">Message Type</div>
                        <div class="panel-body">{{R_MessageType}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading secondPanel" style="background:#050203b0;">Plant Code</div>
                        <div class="panel-body">{{R_PlantCode}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading secondPanel" style="background:#050203b0;">Supplier Code</div>
                        <div class="panel-body">{{R_SupplierCode}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>

            <div class="col-md-12" style="margin-top:5px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading secondPanel">Part Number</div>
                        <div class="panel-body">{{R_PartNumber}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading firstPanel">Last 8 of VIN</div>
                        <div class="panel-body">{{R_Last8ofVIN}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading firstPanel">Model Code</div>
                        <div class="panel-body">{{R_ModelCode}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading firstPanel">Module Type</div>
                        <div class="panel-body">{{R_ModuleType}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading firstPanel">Status Code</div>
                        <div class="panel-body">{{R_StatusCode}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading firstPanel">Sequence No</div>
                        <div class="panel-body">{{R_SequenceNo}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading firstPanel">Transmission Type</div>
                        <div class="panel-body">{{R_TransmissionType}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
