﻿/*loader*/
body {
margin:0;
padding:0;
}
.dataTables_scrollHead table thead th {
padding:10px 12px !important;
}
.loaderDiv_P {
    position: fixed !important;
    z-index: 999999;
    height: 100vh;
    width: 100%;
    background: rgba(51, 51, 51, 0.8);
}

.loaderDiv_C {
    width: 100px;
    margin: 18% auto;
}

.Section {
    padding: 60px 0 30px 0;
    min-height: 100vh;
}
/*end*/
/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(67, 12, 14, 0.76);
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(67, 12, 14, 0.76);
    outline: 1px solid slategrey;
}

.big {
    transform: scale(1.0, 1.0) translateY(0px);
}

.small {
    transform: scale(0.5, 0.5) translateY(-110px);
}

.scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(67, 12, 14, 0.76);
    outline: 1px solid slategrey;
}

/*Data-Table*/

table thead {
    background-color: #787d82;
    color: #FFF;
}

.table-condensed thead {
    background-color: #ffffff !important;
    color: #000;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #CCC !important;
    padding: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 2em !important;
    padding: 3px 7px !important;
}

.danaTable thead th {
    border-bottom: none !important;
}

.daterangepicker.dropdown-menu {
    z-index: 999999 !important;
}


/*Datatable Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #FFF !important;
    background: #067296 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #000 !important;
    border: 1px solid #009ed3 !important;
    background: #009ed3 !important;
}

div.dt-button-collection {
    overflow: auto !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border: 1px solid transparent !important;
    background: transparent !important;
}

a.dt-button.buttons-collection,
a.dt-button.buttons-copy,
a.dt-button.buttons-copy,
a.dt-button.buttons-print,
a.dt-button.buttons-csv,
a.dt-button.buttons-pdf,
a.dt-button.buttons-excel {
    background: #067296 !important;
    color: #FFF !important;
}


a.dt-button {
    background: #ccc !important;
    border: none !important;
    font-size: 15px !important;
    color: #000 !important;
    border-radius: 4px !important;
    font-weight: bold;
}

a.active {
    color: #FFF !important;
    background: #009ed3 !important;
}

a.dt-button:hover {
    background: #009ed3 !important;
}

    a.dt-button:hover:not(.disabled) {
        color: #FFF !important;
    }

div.dt-button-collection {
    min-height: 90px !important;
    max-height: 327px !important;
    width: 210px !important;
}


.dataTables_scrollHeadInner, .dataTables_scrollHeadInner table {
    width: 100% !important;
}

/*Date range picker start*/

.ranges li {
    color: #009ed3 !important;
}

    .ranges li.active, .ranges li:hover {
        background: #009ed3 !important;
        border: 1px solid #337ab7 !important;
        color: #fff !important;
    }

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #009ed3 !important;
    border-color: transparent;
    color: #fff;
}

.daterangepicker td.in-range {
    background-color: rgba(122, 20, 24, 0.09);
}

.btn-success {
    color: #fff !important;
    background-color: #009ed3 !important;
    border-color: #337ab7 !important;
}

    .btn-success:hover {
        color: #fff !important;
        background-color: #156394 !important;
        border-color: #337ab7 !important;
    }

tr:hover td {
    background: rgba(189, 189, 189, 0.32);
    cursor: pointer !important;
}

/*Date range picker end*/
