﻿.reviews {
        color: #555;
        font-weight: bold;
    }

    .notes {
        color: #999;
        font-size: 12px;
    }

    .tab-content {
        min-height: 400px;
        padding: 10px;
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .nav-tabs li a
    {
        padding:5px;
    }
    .nav-tabs li h4
    {
        font-size: 15px;
        margin: 4px 0 2px 0;
    }
    #tbl_REPORTS th td
    {
        max-width:150px;
    }

    /*Date range picker*/
.ranges li {
    color: #7a1418 !important;
}
/*end*/