﻿<div id="mySidenav" class="sidenav">

    <ul class="accordion-menu">
        <li>
            <div class="dropdownlink firstLI">
                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                <a *ngIf="filterdata?.length > 0" class="pull-right clearall" (click)="ClearAllFilters()">Clear All</a>
            </div>

        </li>
        <li *ngIf="filterdata?.length > 0" class="borderBottom">
            <div class="filterParent">

                <div class="filterCheap" *ngFor="let f of filterdata">
                    {{f.value}}
                    <div (click)="Itemclick($event)" attr.data-name="{{f.column}}" attr.data-close="{{f.chk_id}}" id="{{f.ele_id}}" class="clo">x</div>
                </div>

                <div style="clear:both"></div>
            </div>
        </li>
       
        <li >
            <div id="daterange_picker" class="" *ngFor="let dateInput of dateInputs">
                <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }"
                     (selected)="selectedDate($event, dateInput)">
                    <span class="form-control uneditable-input" name="daterange">
                        {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
                    </span>
                    <span class="input-group-btn">
                        <span type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar iconColor"></i></span>
                    </span>
                </div>

            </div>
        </li>
        <li>
            <div class="dropdownlink">
                Organisation
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Organisation_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Organisation"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Organisation"
                                   data-name="Organisation_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <!--<li data-name="ORGANISATION" data-nm="All"
                    id="li_org_all">
                    <a id="a_org_all"><i id="chk_org_all" class="fa fa-check-square-o  iconColor"></i>All</a>
                </li>-->
                <li (click)="Itemclick($event)" *ngFor="let org of col_ORGANISATION;let i = index;"
                    data-name="ORGANISATION"
                    data-filtertype_id="li_org_all"
                    attr.data-nm="{{org.organisation_name}}"
                    attr.data-valid="{{org.org_id}}"
                    id="li_org_{{org.organisation_name}}">
                    <a id="a_org{{org.organisation_name+i}}"><i id="chk_org{{i+1}}" class="fa fa-square-o iconColor"></i>{{org.organisation_name}}</a>
                </li>

            </ul>
        </li>
        <li>
            <div class="dropdownlink">
                Plant
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Plant_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Plant"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Plant"
                                   data-name="Plant_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let plnt of col_PLANT;let i = index;" 
                    data-name="PLANT" 
                    attr.data-nm="{{plnt.plant_name}}" attr.data-valid="{{plnt.plant_id}}"
                    id="li_plnt_{{plnt.plant_name}}">
                    <a id="a_plnt{{plnt.plant_name+i}}"><i id="chk_plnt{{i+1}}" class="fa fa-square-o iconColor"></i>{{plnt.plant_name}}</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="dropdownlink">
                Shop
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Shop_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Shop"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Shop"
                                   data-name="Shop_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let shp of col_SHOP;let i = index;" 
                    data-name="SHOP" 
                    attr.data-nm="{{shp.shop_name}}" attr.data-valid="{{shp.shop_id}}"
                    id="li_shp_{{shp.shop_name}}">
                    <a id="a_shp{{shp.shop_name+i}}"><i id="chk_shp{{i+1}}" class="fa fa-square-o iconColor"></i>{{shp.shop_name}}</a>
                </li>
            </ul>
        </li>
      
        <li >
            <div class="dropdownlink">
                Line
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Line_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Line"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Line"
                                   data-name="Line_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let ln of col_LINE;let i = index;"
                    data-name="LINE"
                    attr.data-nm="{{ln.line_name}}" attr.data-valid="{{ln.line_id}}"
                    id="li_ln_{{ln.line_name}}">
                    <a id="a_ln{{ln.line_name+i}}"><i id="chk_ln{{i+1}}" class="fa fa-square-o iconColor"></i>{{ln.line_name}}</a>
                </li>
            </ul>
        </li>
        <li >
            <div class="dropdownlink">
                Station
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Station_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Station"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Station"
                                   data-name="Station_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let stn of col_STATION;let i = index;"
                    data-name="STATION"
                    attr.data-nm="{{stn.station_name}}" attr.data-valid="{{stn.station_id}}"
                    id="li_stn_{{stn.station_name}}">
                    <a id="a_stn{{stn.station_name+i}}"><i id="chk_stn{{i+1}}" class="fa fa-square-o iconColor"></i>{{stn.station_name}}</a>
                </li>
            </ul>
        </li>
        <li >
            <div class="dropdownlink">
                Machines
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Machines_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Machine"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Machines"
                                   data-name="Machines_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let mchn of col_MACHINES;let i = index;"
                    data-name="MACHINES"
                    attr.data-nm="{{mchn.machine_name}}" attr.data-valid="{{mchn.machine_id}}"
                    id="li_mchn_{{mchn.machine_name}}">
                    <a id="a_mchn{{mchn.machine_name+i}}"><i id="chk_mchn{{i+1}}" class="fa fa-square-o iconColor"></i>{{mchn.machine_name}}</a>
                </li>
            </ul>
        </li>
        
        <li></li>
    </ul>
    <div class="btn btn-block btn-primary" style="margin-top:10px" (click)="getFilterReportData()">Excecute</div>
</div>



<div id="main">
    <div id="btnFilter" onclick="openNav()" class="filter_toggle_btn" style="display:none;">
        <i id="filterToggle" class="fa fa-angle-right"></i>
    </div>
    <div id="mainSecondDiv">
        <h4 class="margin0px">{{titleName}}</h4>
        <!--<div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#table" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">TABLE</h4></a></li>
                <li><a href="#chart" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">CHART</h4></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="table">
                    <table *ngIf="datasource?.length == 0" class="display" cellspacing="0" style="width:100%">
                       <thead style="text-align: center;">Table</thead>
                        <tbody style="text-align: center;">No Data</tbody>
                    </table>
                    <table id="tbl_REPORTS" class="display" cellspacing="0" style="width:100%"></table>
                </div>
                <div class="tab-pane" id="chart">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>-->
        <router-outlet></router-outlet>
        <table id="tbl_Maintenance" class="display" cellspacing="0" style="width:100%"></table>
    </div>

</div>
