

<div id="fillter" class="collapse in">

    <div class="row">

        <div class="col-md-3">
            <div class="fillterControl">
                <div id="daterange_picker" class="DateRange" *ngFor="let dateInput of dateInputs">
                    <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }"
                         (selected)="selectedDate($event, dateInput)">
                        <span class="form-control uneditable-input" name="daterange">
                           From : {{ dateInput.start | date:'M/dd/y' }} To: {{ dateInput.end| date:'M/dd/y' }}
                        </span>
                        <span class="input-group-btn">
                            <span type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar iconColor"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="fillterControl">
                <select id="ddl_ModuleType" class="form-control">
                    <option selected value="none">Select Module Type</option>
                    <option value="X83">X83</option>
                    <option value="X79">X79</option>
                    <option value="HEADER">HEADER</option>
                </select>
            </div>
        </div>

        
        <div class="col-md-2">
            <div class="fillterControl">
                <!--<a class="btn btn-primary" (click)="resetFilter()" data-toggle="tooltip" title="Reset!"><i class="fa fa-eraser"></i></a>-->

                <a style="margin-left: 10px;" class="btn btn-primary" (click)="sendParamData()" data-toggle="tooltip"><i class="fa fa-filter"></i></a>
            </div>
        </div>

    </div>
    <table id="tbl_ShipmentAuditor" class="display" cellspacing="0" style="width:100%; margin-top:10px">

    </table>
</div>