﻿<footer class="flex-noshrink main-footer">

    <div class="footer-container">
        <div class="copyright">
            Copyright &copy; 2016-2017
            <a href="http://www.magna.com/">
                <span>MAGNA</span>
            </a> All rights reserved.
        </div>

        <div class="pull-right" style="display:inline-flex;">
            <div class="poweredby">Powered By</div>
            <div class="mars">
                <img src="assets/img/mars.png" class="md-card-image" alt="Mars">
            </div>
        </div>
    </div>
</footer>