﻿<header>

    <img class="logo" src="assets/img/logo.png" [routerLink]="'/Master/Dashboard'" />

    <div id="divMenu" data-name="menu" style="display: inline-block; margin-left:10px;">
        <a data-name="menu" (click)="toggleMenu()">
            <!--<i data-name="menu" class="fa fa-bars"></i>-->
            <img data-name="menu" src="assets/img/menu.png" height="23" style="margin-top: 8px;" />
        </a>
    </div>

    <div class="dropdown pull-right padd6px">
        <div class="chip dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/admin.png" width="96" height="50" />
            admin
        </div>
        <ul class="dropdown-menu">
            <li><a [routerLink]="['']">Sign out</a></li>
        </ul>
    </div>
    <!--<div class="padd6px hidden-xs" style="float:right;padding-top:10px;cursor:pointer;">
            <a id="aExpandCompress" class="" (click)="fullScreen('aExpandCompress')"><i class="fa fa-expand fa-2x"></i></a>
    </div>
    <div class="padd6px hidden-xs" style="float:right;padding-top:10px;cursor:pointer;">
        <span id="sClock">{{clock}}</span>
    </div>-->

</header>

<nav id="nav" role="navigation">
    <a id="a_Show" (click)="ShowNavigation()" title="Show navigation">Show navigation</a>
    <!--<a id="a_Hide" (click)="HideNavigation()" title="Hide navigation">Hide navigation</a>-->
    <ul id="ul_menu">
        <li data-name="menu">
            <a data-name="menu" aria-haspopup="true">GENEALOGY REPORTS</a>
            <ul>
                <li><a [routerLink]="'/Master/REPORTS/VIN_Details'">Birth Certificate</a></li>
                <li><a [routerLink]="'/Master/REPORTS/UnitGenealogyReport'">Unit Genealogy Report</a></li>
                <!--<li><a [routerLink]="'/Master/REPORTS/BatchBuild'">Batch Build Genealogy</a></li>-->
            </ul>
        </li>

        <li data-name="menu">
            <a data-name="menu" aria-haspopup="true">PRODUCTION REPORTS</a>
            <ul style="overflow:auto;max-height:80vh;">
               
                <li><a [routerLink]="'/Master/REPORTS/Productioncycle'">Production Cycle Time</a></li>
                <li><a [routerLink]="'/Master/REPORTS/WIPStatus'">WIP Status</a></li>
                <li><a [routerLink]="'/Master/REPORTS/Bypass'">Bypass Report</a></li>
                <li><a [routerLink]="'/Master/REPORTS/QualityScrapCount'">Quality Scrap Count</a></li>
            </ul>
        </li>

        <li data-name="menu">
            <a data-name="menu" aria-haspopup="true">DASHBOARD</a>
            <ul>
                <li><a [routerLink]="'/Master/REPORTS/PartsPerOperator'">Parts Per Operator Hour</a></li>
                <li><a [routerLink]="'/Master/REPORTS/PartsPerHour'">Parts Per Hour</a></li>
                <li><a [routerLink]="'/Master/REPORTS/ProductionSummary'">Production Summary Report</a></li>
            </ul>
        </li>
        
        <li data-name="menu">
            <a data-name="menu" aria-haspopup="true">MATERIAL</a>
            <ul>
                <li><a [routerLink]="'/Master/REPORTS/Shipment_FEM'">FEM Shipment Report</a></li>
                <li><a [routerLink]="'/Master/REPORTS/Shipment_GRILLE'">GRILLE Shipment Report</a></li>
                <li><a [routerLink]="'/Master/REPORTS/Shipment_HEADER'">HEADER Shipment Report</a></li>
                <li><a [routerLink]="'/Master/REPORTS/UnShipped'">Components of Un-Shipped Modules</a></li>
                <li><a [routerLink]="'/Master/REPORTS/ShipmentAuditor'">Shipment Auditor</a></li>
                <li><a [routerLink]="'/Master/REPORTS/Inventory'">Inventory Report</a></li>
                <li><a [routerLink]="'/Master/REPORTS/T1xxContainerDetails'">T1xx Container Details</a></li>
            </ul>
        </li>
        <li data-name="menu">
            <a data-name="menu" aria-haspopup="true">BROADCAST</a>
            <ul>
                <li><a [routerLink]="'/Master/REPORTS/BuildPartLookUp'">Build Part LookUp</a></li>
                <li><a [routerLink]="'/Master/REPORTS/PartLookUp'">Queue Part LookUp</a></li>
                <li><a [routerLink]="'/Master/REPORTS/RawDataQuery'">Raw Data Query</a></li>
                <li><a [routerLink]="'/Master/REPORTS/PABdiscrepancy'">PAB Discrepancy Report</a></li>
                <li><a [routerLink]="'/Master/REPORTS/PendingGQ'">Pending GQ's</a></li>
                <!--<li><a [routerLink]="'/Master/REPORTS/PendingSR'">Pending SR's</a></li>-->
                <li><a [routerLink]="'/Master/REPORTS/QueueSummary'">Queue Summary Report</a></li>
                
                
            </ul>
        </li>
    </ul>
</nav>