﻿<div class="main">

    <mstheader></mstheader>
    <div id="loaderDiv" class="loaderDiv_P">
        <div class="loaderDiv_C">
            <img src="assets/img/loading.GIF" width="100">
        </div>

    </div>
    <section class="Section">
        
        <router-outlet></router-outlet>
    </section>

    <mstfooter></mstfooter>

</div>
