﻿.main {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

.big {
    transform: scale(1.0, 1.0) translateY(0px);
}

.small {
    transform: scale(0.5, 0.5) translateY(-110px);
}

.scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}
/*end*/

/* header */
header {
    background: #FFF;
    position: fixed;
    width: 100%;
    padding: 3px 10px;
    border-bottom: 2px solid #009ed3;
    box-shadow: 1px 3px 3px #CCC;
    display: inline-block;
    z-index: 888888;
}

.padd6px {
    padding: 6px;
}

.logo {
    width: 200px;
    margin: 0 5px 0;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 25px;
    background-color: rgb(0, 158, 211);
    color: #FFF;
}

    .chip img {
        float: left;
        margin: 3px 10px 0 -17px;
        height: 29px;
        width: 26px;
        border-radius: 50%;
    }

/*end*/

/*menu*/
.navbar-fixed-top {
    top: 58px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #034962;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #034962;
}

#nav {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    top: 55px;
    position: fixed;
    z-index: 999999;
    display: none;
}

    #nav > a {
        display: none;
    }

    #nav li {
        position: relative;
    }

        #nav li a {
            color: #fff;
            display: block;
        }

            /*#nav li a:active {
                background-color: rgb(148, 17, 22) !important;
            }*/

    #nav span:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent; /* 5 */
        border-bottom: none;
        border-top-color: #efa585;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em; /* 5 */
    }

    /* first level */

    #nav > ul {
        font-size: 10px;
        height: 3.75em; /* 60 */
        background-color: #009ed3;
        padding: 0;
    }

        #nav > ul > li {
            min-width: 16%;
            height: 100%;
            float: left;
        }

            #nav > ul > li > a {
                height: 100%;
                font-size: 1.5em; /* 24 */
                font-weight: 600;
                line-height: 2.5em; /* 60 (24) */
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
            }

            #nav > ul > li:not(:last-child ) > a {
                border-right: 1px solid #fff;
            }

            #nav > ul > li:hover > a,
            #nav > ul:not( :hover ) > li.active > a {
                background-color: rgba(0, 158, 211, 0.77) !important;
            }


    /* second level */

    #nav li ul {
        background-color: #000000;
        display: none;
        position: absolute;
        top: 100%;
        padding: 0;
        z-index: 999999;
    }

    #nav li:hover ul {
        display: block;
        left: 0;
        right: 0;
    }

    #nav li:not( :first-child ):hover ul {
        left: -1px;
    }

    #nav li ul a {
        font-size: 1.25em; /* 20 */
        font-weight: 600;
        border-top: 1px solid #009ed3;
        padding: 0.75em; /* 15 (20) */
        text-decoration: none;
    }

    #nav li ul li a:hover {
        background-color: rgba(0, 158, 211, 0.77) !important;
    }

    #nav li ul li a:hover,
    /*#nav li ul:not( :hover ) li.active a {
        background-color: rgb(148, 17, 22) !important;
    }*/

ul, ol {
    list-style: none;
}

@media only screen and ( max-width: 62.5em ) /* 1000 */
{
    #nav {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
   #nav > ul > li {
    min-width: 30%;
    }
   .logo {
    width: 150px;
    margin: 5px;
}

}

/*end*/




/*loader*/
.loaderDiv_P {
    display: none;
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.58);
}

.loaderDiv_C {
    width: 100px;
    margin: 20% auto;
}

.Section {
    padding: 60px 0 30px 0;
    min-height: 100vh;
}
/*end*/

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #CCC;
}

.footer_b {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100%;
}

.main-footer {
    background: #fff;
    padding: 3px 10px;
    color: #8C8585;
    border-top: 1px solid #CCC;
    font-size: 11px;
}

.pull-right {
    float: right !important;
}

.copyright {
    float: left;
    width: 68%;
    margin: 6px 0;
}

    .copyright span {
        color: #009ed3;
    }

.poweredby {
    margin-top: 7px;
    margin-right: 7px;
}

.mars img {
    width: 28px;
    height: 27px;
}
/*end*/

