﻿ .hidechildhead {
        background-color: #787d82 !important;
    }

    .padd0px {
        padding: 0 !important;
    }

    .parent .arrow {
       font-size:20px;
       color: rgb(89, 92, 95);
    }

    .parent:hover .arrow {
       font-size:22px;
       color:black;
    }

    .arrow {
        position: absolute;
        right: 20px;
        top: 9px;
        font-size: 17px;
        color: rgb(89, 92, 95);
    }

    .hdFixed {
        position: fixed;
        width: 98%;
        z-index: 1;
        background: #FFF;
        top: 55px;
        padding-top: 5px;
    }

    .exportBtn {
        position: absolute;
        width: 100%;
        margin: 0;
    }
    .popover{
    -ms-transform: scale(0.5) !important;
    -webkit-transform: scale(0.5) !important; 
    transform: scale(0.5) !important;
    top:60px !important;
    margin-left:50px;
}
#txt_Body {
    resize:none;
    height:150px;
}

#BroadcastInfo_group {
    margin-top:90px;
}
@media screen and (max-width: 450px) {
 
   .exportBtn{
    position: initial; 
    width: 100%;
    margin: 4px 0 8px 0;
}
   #BroadcastInfo_group {
    margin-top:5px;
}
    .hdFixed {
        position: initial;
        width: 100%;
    }
}