﻿<style>
    .clockpicker-plate {
        width: 150px !important;
        height: 150px !important;
    }

    .tableParent {
        width: 100%;
        overflow: auto;
    }
</style>
<div id="BirthCertificate" style="background:#fff;">
    <div class="hdFixed" id="sss">
        <h3 class="exportBtn">
            <a [routerLink]="'/Master/REPORTS/VIN_Details'" style="margin-right:7px" class="downloadBtn" data-toggle="tooltip" title="Back to VIN Details">
                <i class="fa fa-arrow-left"></i>
            </a>
            <!--<a class="downloadBtn" data-toggle="tooltip" title="Print" (click)="PrintData()"><i class="fa fa-print"></i></a>-->
            <!--<a class="downloadBtn" data-toggle="tooltip" title="Export Excel" (click)="ExportXLSX()"><i class="fa fa-file-excel-o"></i></a>-->
            <!--<a (click)="samplePdf()"> Click</a>-->
            <a class="downloadBtn" data-toggle="tooltip" title="Export PDF" (click)="ExportPDF()"><i class="fa fa-file-pdf-o"></i></a>
            <a class="downloadBtn" data-toggle="tooltip" title="Expand / Collapse" (click)="parentPanelToggle('i_ParrentToggle')"><i id="i_ParrentToggle" class="fa fa-chevron-circle-down"></i></a>
            <!--<a class="downloadBtn"
               title="Scheduler"
               data-toggle="modal"
               data-target="#myScheduler"
               data-backdrop="static"
              >
                <i id="i_ParrentToggle" class="fa fa-clock-o"></i>
            </a>-->
            <!--<div class="col-md-1">
                <div class="form-group">
                    <label for="refresh">Send Email</label>
                    <a class="btn btn-primary" (click)="sendMail()"><i class="fa fa-mail-forward"></i></a>
                </div>
            </div>-->
            <!--<popup #popup1>
                Add your custom html elements here
            </popup>-->

        </h3>
        <h3 style="text-align:center;margin: 0;color:#0a0203;">
            <b>Module Details</b>
        </h3>
        <h4 *ngFor="let r of HeaderData" class="feildsDetials">
            <span class="marginLR">
                VIN: <b>{{r.VIN_S}}</b>
            </span>
            <span class="marginLR">
                Sequence Number:<b> {{r.SequenceNumber_I}} </b>
            </span>
            <span class="marginLR">
                Module Type:<b> {{r.ModuleType_S}} </b>
            </span>
        </h4>
    </div>

    <div class="modal fade" id="myScheduler" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Scheduler</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div id="divClock" class="input-group" appClockPicker>
                                <input id="txt_Clock" type="text" class="form-control" value="{{mail_Time}}">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input id="txt_TO" type="email" [(ngModel)]="mail_Receiver" class="form-control" placeholder="To" email>
                        </div>
                        <div class="col-md-12 form-group">
                            <input id="txt_Subject" type="text" [(ngModel)]="mail_Subject" class="form-control" placeholder="Subject">
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea id="txt_Body" class="form-control" [(ngModel)]="mail_Body" placeholder="Body"></textarea>
                            <!--<input  type="text" class="form-control" placeholder="Body">-->
                        </div>

                        <div style="clear:both"></div>
                        <div class="col-md-12" style="margin-top:15px;float:right">
                            <input type="button" class="btn btn-default" style="float:right" data-dismiss="modal" value="Close">
                            <input type="button" class="btn btn-primary" style="float:right;margin-right:15px;" (click)="ScheduleMail()" data-dismiss="modal" value="Save">
                        </div>
                    </div>
                </div>
                <!--<div class="modal-footer">
                </div>-->
            </div>
        </div>
    </div>

    <div id="BroadcastInfo_group" class="panel-group">
        <div class="panel panel-default" data-id="i_BroadcastInfo">
            <div class="panel-heading group1" (click)="panelToggle('BroadcastInfo')">
                <h4 class="panel-title">
                    Broadcast Info
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_BroadcastInfo" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="BroadcastInfo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">

                        <table id="tbl_BroadcastInfo" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Module Type</td>
                                    <td>Sequence Number</td>
                                    <td>Creation Time</td>
                                    <td>Status Code</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of M_BroadcastInfo">
                                    <td>{{b.moduleType_S}} </td>
                                    <td>{{b.sequenceNumber_I}} </td>
                                    <td>{{b.creation_time}} </td>
                                    <td>{{b.statusCode_S}} </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_BroadcastInfo?.length==0" class="tbody">
                                <tr>
                                    <td colspan="4" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="SAMessage_group" class="panel-group">
        <div class="panel panel-default" data-id="i_SAMessage">
            <div class="panel-heading group1" (click)="panelToggle('SAMessage')">
                <h4 class="panel-title">
                    SA Message
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_SAMessage" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="SAMessage" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_SAMessage" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>VIN</td>
                                    <td>Sequence Number</td>
                                    <td>Creation Time</td>
                                    <td>Message Type</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of M_SA">
                                    <td>{{s.viN_S}}</td>
                                    <td>{{s.sequenceNumber_I}}</td>
                                    <td>{{s.creation_time}}</td>
                                    <td>{{s.messageType_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_SA?.length==0" class="tbody">
                                <tr>
                                    <td colspan="4" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="SRMessage_group" class="panel-group">
        <div class="panel panel-default" data-id="i_SRMessage">
            <div class="panel-heading group1" (click)="panelToggle('SRMessage')">
                <h4 class="panel-title">
                    SR Message
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_SRMessage" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="SRMessage" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_SRMessage" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>VIN</td>
                                    <td>Sequence Number</td>
                                    <td>SrSend Time</td>
                                    <td>Parts Changed</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of M_SR">
                                    <td>{{s.viN_S}}</td>
                                    <td>{{s.sequenceNumber_I}}</td>
                                    <td>{{s.srSendTime_T}}</td>
                                    <td>{{s.partschanged}}</td>
                                </tr>

                            </tbody>
                            <tbody *ngIf="M_SR?.length==0" class="tbody">
                                <tr>
                                    <td colspan="4" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="ComponentsUsed_group" class="panel-group">
        <div class="panel panel-default" data-id="i_ComponentsUsed">
            <div class="panel-heading group2" (click)="panelToggle('ComponentsUsed')">
                <h4 class="panel-title">
                    Components Used
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_ComponentsUsed" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="ComponentsUsed" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_ComponentsUsed" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Part Number</td>
                                    <td>Part Description</td>
                                    <td>Part Quantity</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of M_ComponentsUsed">
                                    <td>{{c.partNumber_S}}</td>
                                    <td>{{c.part_desc_S}}</td>
                                    <td>{{c.partQty_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_ComponentsUsed?.length==0" class="tbody">
                                <tr>
                                    <td colspan="4" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="MachineControlledOperations_group" class="panel-group">
        <div class="panel panel-default" data-id="i_MachineControlledOperations">
            <div class="panel-heading group3" (click)="panelToggle('MachineControlledOperations')">
                <h4 class="panel-title">
                    Machine Controlled Operations
                    <a class="collapseBtn" style="float:right; margin-right:10px;cursor:pointer;">
                        <i id="i_MachineControlledOperations" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="MachineControlledOperations" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="tableParent">

                        <div id="tbl_i_MachineControlledOperations" class="gradient-style">
                            <div class="thead">
                                <div class="tr ">
                                    <div class="td " style="min-width:33%">Equipment Id</div>
                                    <div class="td " style="min-width:33%">Torque Type</div>
                                    <div class="td " style="min-width:33%">Quantity</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div *ngFor="let m of M_MCO">
                                    <div class="tr parent" (click)="showchild($event,m.equipment_Id_S)">
                                        <div class="td">{{m.equipment_Id_S}} </div>
                                        <div class="td">{{m.torque_Type_S}} </div>
                                        <div class="td">{{m.qty}} </div>
                                        <a class="arrow" style="cursor:pointer;">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="gradient-style child" attr.data-hide='{{m.equipment_Id_S}}' style="display:none;">
                                        <div class="thead">
                                            <div class="tr firstrow">
                                                <div class="td ">Equipment Id</div>
                                                <div class="td ">Torque Angle</div>
                                                <div class="td ">Torque Status</div>
                                                <div class="td ">Torque Value</div>
                                                <div class="td ">Torque Type</div>
                                                <div class="td ">Creation Time</div>
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div *ngFor="let mm of m.childdetails;let isLastRow=last" [ngClass]="{'lastrow' : isLastRow}" class="tr col-md-12 allrow">
                                                <div class="td ">{{mm.equipment_Id_S}} </div>
                                                <div class="td ">{{mm.torqueAngle_S}} </div>
                                                <div class="td ">{{mm.torqueStatus_S}} </div>
                                                <div class="td ">{{mm.torqueValue_S}} </div>
                                                <div class="td ">{{mm.torque_Type_S}} </div>
                                                <div class="td ">{{mm.creation_time}} </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="M_MCO?.length==0" class="tbody">
                                <div class="tr col-md-12">
                                    <div class="td col-md-12" style="text-align:center">No Data Found</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X83'" id="KIT_group" class="panel-group">
        <div class="panel panel-default" data-id="i_KIT">
            <div class="panel-heading group3" (click)="panelToggle('KIT')">
                <h4 class="panel-title">
                    Kit Station Details
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_KIT" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="KIT" class="panel-collapse collapse">
                <div class="panel-body">
                    <table id="tbl_KIT" class="gradient-style">
                        <thead>
                            <tr>
                                <td class="td col-md-2">Station</td>
                                <td class="td col-md-1">Type</td>
                                <td class="td col-md-3">WI Description</td>
                                <td class="td col-md-2">Start Time</td>
                                <td class="td col-md-1">User Name</td>
                                <td class="td col-md-2">Short Description</td>
                                <td class="td col-md-1">Input</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let k of M_KIT">
                                <td class="td col-md-2">{{k.station_S}}</td>
                                <td class="td col-md-1">{{k.wI_Type_S}}</td>
                                <td class="td col-md-3">{{k.wI_Description_S}}</td>
                                <td class="td col-md-2">{{k.start_Time_T}}</td>
                                <td class="td col-md-1">{{k.user_Name_S}}</td>
                                <td class="td col-md-2">{{k.short_Description_S}}</td>
                                <td class="td col-md-1">{{k.input_S}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="M_KIT?.length==0" class="tbody">
                            <tr>
                                <td colspan="7" style="text-align:center">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X83'" id="HoodLatch_group" class="panel-group">
        <div class="panel panel-default" data-id="i_HoodLatch">
            <div class="panel-heading group3" (click)="panelToggle('HoodLatch')">
                <h4 class="panel-title">
                    Hood Latch Station Details
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_HoodLatch" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="HoodLatch" class="panel-collapse collapse">
                <div class="panel-body">
                    <table id="tbl_HoodLatch" class="gradient-style">
                        <thead>
                            <tr>
                                <td class="td col-md-2">Station</td>
                                <td class="td col-md-1">Type</td>
                                <td class="td col-md-3">WI Description</td>
                                <td class="td col-md-2">Start Time</td>
                                <td class="td col-md-1">User Name</td>
                                <td class="td col-md-2">Short Description</td>
                                <td class="td col-md-1">Input</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let k of M_HoodLatch">
                                <td class="td col-md-2">{{k.station_S}}</td>
                                <td class="td col-md-1">{{k.wI_Type_S}}</td>
                                <td class="td col-md-3">{{k.wI_Description_S}}</td>
                                <td class="td col-md-2">{{k.start_Time_T}}</td>
                                <td class="td col-md-1">{{k.user_Name_S}}</td>
                                <td class="td col-md-2">{{k.short_Description_S}}</td>
                                <td class="td col-md-1">{{k.input_S}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="M_HoodLatch?.length==0" class="tbody">
                            <tr>
                                <td colspan="7" style="text-align:center">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div id="LabelsPrinted_group" class="panel-group">
        <div class="panel panel-default" data-id="i_LabelsPrinted">
            <div class="panel-heading group3" (click)="panelToggle('LabelsPrinted')">
                <h4 class="panel-title">
                    Labels Printed
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_LabelsPrinted" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="LabelsPrinted" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="tableParent">

                        <table id="tbl_LabelsPrinted" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Line</td>
                                    <td>VIN</td>
                                    <td>Sequence</td>
                                    <td>Start Time</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of M_LabelPrinting">
                                    <td>{{l.line_S}}</td>
                                    <td>{{l.viN_S}}</td>
                                    <td>{{l.sequence_S}}</td>
                                    <td>{{l.start_Time_T}}</td>
                                    <td>{{l.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_LabelPrinting?.length==0" class="tbody">
                                <tr>
                                    <td colspan="5" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Retriggers_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Retriggers">
            <div class="panel-heading group4" (click)="panelToggle('Retriggers')">
                <h4 class="panel-title">
                    Retriggers
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_Retriggers" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Retriggers" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_Retriggers" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let rt of M_Retriggers">
                                    <td>{{rt.station_S}}</td>
                                    <td>{{rt.wI_Type_S}}</td>
                                    <td>{{rt.wI_Description_S}}</td>
                                    <td>{{rt.start_Time_T}}</td>
                                    <td>{{rt.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_Retriggers?.length==0" class="tbody">
                                <tr>
                                    <td colspan="5" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Badgescans_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Badgescans">
            <div class="panel-heading group4" (click)="panelToggle('Badgescans')">
                <h4 class="panel-title">
                    Badge scans
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_Badgescans" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Badgescans" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_Badgescans" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let bs of M_BadgeScans">
                                    <td>{{bs.station_S}}</td>
                                    <td>{{bs.wI_Type_S}}</td>
                                    <td>{{bs.wI_Description_S}}</td>
                                    <td>{{bs.start_Time_T}}</td>
                                    <td>{{bs.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_BadgeScans?.length==0" class="tbody">
                                <tr>
                                    <td colspan="5" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Bypasses_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Bypasses">
            <div class="panel-heading group5" (click)="panelToggle('Bypasses')">
                <h4 class="panel-title">
                    Bypasses
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_Bypasses" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Bypasses" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_Bypasses" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Station</td>
                                    <td>WI Type</td>
                                    <td>WI Description</td>
                                    <td>Start Time</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of M_BYpass">
                                    <td>{{b.station_S}}</td>
                                    <td>{{b.wi_Type_S}}</td>
                                    <td>{{b.wi_Description_S}}</td>
                                    <td>{{b.start_Time_T}}</td>
                                    <td>{{b.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_BYpass?.length==0" class="tbody">
                                <tr>
                                    <td colspan="5" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="EOLCOmpletion_group" class="panel-group">
        <div class="panel panel-default" data-id="i_EOLCOmpletion">
            <div class="panel-heading group6" (click)="panelToggle('EOLCOmpletion')">
                <h4 class="panel-title">
                    EOL Completion
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_EOLCOmpletion" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="EOLCOmpletion" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_EOLCOmpletion" class="gradient-style">

                            <thead>
                                <tr>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>WI Description</td>
                                    <td>Start Time</td>
                                    <td>End Time</td>
                                    <td>User Name</td>
                                    <td>Short Description</td>
                                    <td>Input</td>
                                    <td>WI Sequence</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let eol of M_EOLCOmpletion">
                                    <td>{{eol.station_S}}</td>
                                    <td>{{eol.wI_Type_S}}</td>
                                    <td>{{eol.wI_Description_S}}</td>
                                    <td>{{eol.start_Time_T}}</td>
                                    <td>{{eol.end_Time_T}}</td>
                                    <td>{{eol.user_Name_S}}</td>
                                    <td>{{eol.short_Description_S}}</td>
                                    <td>{{eol.input_S}}</td>
                                    <td>{{eol.wI_Seq_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_EOLCOmpletion?.length==0" class="tbody">
                                <tr>
                                    <td colspan="9" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X83'" id="Shipments_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Shipments">
            <div class="panel-heading group7" (click)="panelToggle('Shipments')">
                <h4 class="panel-title">
                    Shipments
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_Shipments" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Shipments" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_Shipments" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Current Sequence</td>
                                    <td>Pallet Id</td>
                                    <td>Shipment Build Number</td>
                                    <td>Previous Sequence</td>
                                    <td>Quality Status</td>
                                    <td>Shipment Status</td>
                                    <td>Shipping Time</td>
                                    <td>Truck Number</td>
                                    <td>Lane Number</td>

                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let s of M_Shipments">
                                    <td>{{s.current_Sequence_S}}</td>
                                    <td>{{s.pallet_Id_S}}</td>
                                    <td>{{s.shipment_bld_order_S}}</td>
                                    <td>{{s.previous_Sequence_S}}</td>
                                    <td>{{s.quality_Status_S}}</td>
                                    <td>{{s.shipment_Status_S}}</td>

                                    <td>{{s.shipping_Time_T}}</td>
                                    <td>{{s.truck_Number_S}}</td>
                                    <td>{{s.lane_Number_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_Shipments?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X83'" id="AGS_group" class="panel-group">
        <div class="panel panel-default" data-id="i_AGS">
            <div class="panel-heading group1" (click)="panelToggle('AGS')">
                <h4 class="panel-title">
                    AGS Genealogy
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_AGS" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="AGS" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="padding-bottom:15px;" class="tableParent">
                        <table id="tbl_AGS1" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Scanned Value</td>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let a1 of M_AGS1">
                                    <td>{{a1.input_S}}</td>
                                    <td>{{a1.station_S}}</td>
                                    <td>{{a1.wI_Type_S}}</td>
                                    <td>{{a1.wI_Description_S}}</td>
                                    <td>{{a1.start_Time_T}}</td>
                                    <td>{{a1.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_AGS1?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!--<div style="padding-bottom:15px;" class="tableParent">
                        <table id="tbl_AGS2" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>WIP Number</td>
                                    <td>Part Number</td>
                                    <td>User Name</td>
                                    <td>Station</td>
                                    <td>Updated Station</td>
                                    <td>Updated User</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">

                                <tr *ngFor="let a2 of M_AGS2">
                                    <td>{{a2.wiP_Number_S}}</td>
                                    <td>{{a2.part_Number_S}}</td>
                                    <td>{{a2.user_Name_S}}</td>
                                    <td>{{a2.station_S}}</td>
                                    <td>{{a2.updated_Station_S}}</td>
                                    <td>{{a2.updated_User_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_AGS2?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>-->

                    <div class="tableParent">
                        <table id="tbl_AGS3" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>End Time</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let a3 of M_AGS3">
                                    <td>{{a3.station_S}}</td>
                                    <td>{{a3.wI_Type_S}}</td>
                                    <td>{{a3.wI_Description_S}}</td>
                                    <td>{{a3.start_Time_T}}</td>
                                    <td>{{a3.end_Time_T}}</td>
                                    <td>{{a3.user_Name_S}}</td>
                                </tr>
                            </tbody>

                            <tbody *ngIf="M_AGS3?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X83'" id="ECM_group" class="panel-group">
        <div class="panel panel-default" data-id="i_ECM">
            <div class="panel-heading group2" (click)="panelToggle('ECM')">
                <h4 class="panel-title">
                    ECM Genealogy
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_ECM" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="ECM" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="padding-bottom:15px;" class="tableParent">
                        <table id="tbl_ECM1" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Scanned Value</td>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let e1 of M_ECM1">
                                    <td>{{e1.input_S}}</td>
                                    <td>{{e1.station_S}}</td>
                                    <td>{{e1.wI_Type_S}}</td>
                                    <td>{{e1.wI_Description_S}}</td>
                                    <td>{{e1.start_Time_T}}</td>
                                    <td>{{e1.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_ECM1?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div style="padding-bottom:15px;" class="tableParent">
                        <table id="tbl_ECM2" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Scanned Value</td>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let e2 of M_ECM2">
                                    <td>{{e2.input_S}}</td>
                                    <td>{{e2.station_S}}</td>
                                    <td>{{e2.wI_Type_S}}</td>
                                    <td>{{e2.wI_Description_S}}</td>
                                    <td>{{e2.start_Time_T}}</td>
                                    <td>{{e2.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_ECM2?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="tableParent">
                        <table id="tbl_ECM3" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Scanned Value</td>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let e3 of M_ECM3">
                                    <td>{{e3.input_S}}</td>
                                    <td>{{e3.station_S}}</td>
                                    <td>{{e3.wI_Type_S}}</td>
                                    <td>{{e3.wI_Description_S}}</td>
                                    <td>{{e3.start_Time_T}}</td>
                                    <td>{{e3.user_Name_S}}</td>
                                </tr>
                            </tbody>

                            <tbody *ngIf="M_ECM3?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X83'" id="Carrier_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Carrier">
            <div class="panel-heading group3" (click)="panelToggle('Carrier')">
                <h4 class="panel-title">
                    Carrier Genealogy
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_Carrier" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Carrier" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="padding-bottom:15px;" class="tableParent">
                        <table id="tbl_Carrier" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Input</td>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>StartTime</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let c of M_Carrier">
                                    <td>{{c.input_S}}</td>
                                    <td>{{c.station_S}}</td>
                                    <td>{{c.wI_Type_S}}</td>
                                    <td>{{c.wI_Description_S}}</td>
                                    <td>{{c.start_Time_T}}</td>
                                    <td>{{c.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_Carrier?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div style="padding-bottom:15px;" class="tableParent">
                        <table id="tbl_Carrier" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Sequence Number</td>
                                    <td>Station</td>
                                    <td>Type</td>
                                    <td>Description</td>
                                    <td>Short Description</td>
                                    <td>Input</td>
                                    <td>Start Time</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let c2 of M_Carrier2">
                                    <td>{{c2.sequence_S}}</td>
                                    <td>{{c2.station_S}}</td>
                                    <td>{{c2.wI_Type_S}}</td>
                                    <td>{{c2.wI_Description_S}}</td>
                                    <td>{{c2.short_Description_S}}</td>
                                    <td>{{c2.input_S}}</td>
                                    <td>{{c2.start_Time_T}}</td>
                                    <td>{{c2.user_Name_S}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_Carrier2?.length==0" class="tbody">
                                <tr>
                                    <td colspan="8" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X79'" id="GRILLE_group" class="panel-group">
        <div class="panel panel-default" data-id="i_GRILLE">
            <div class="panel-heading group8" (click)="panelToggle('GRILLE')">
                <h4 class="panel-title">
                    GRILLE Genealogy
                    <a class="collapseBtn" style="float:right; margin-right:10px;cursor:pointer;">
                        <i id="i_GRILLE" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="GRILLE" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <div id="tbl_i_GRILLE" class="gradient-style">
                            <div class="thead">
                                <div class="tr col-md-12">
                                    <div class="td col-md-8">Station</div>
                                    <div class="td col-md-4">Quantity</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div *ngFor="let g of M_GRILLE">
                                    <div class="tr col-md-12 parent" (click)="showchild($event,g.station_S)">
                                        <div class="td col-md-8">{{g.station_S}} </div>
                                        <div class="td col-md-4">{{g.qty}} </div>
                                        <a class="arrow" style="cursor:pointer;">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="gradient-style child" attr.data-hide='{{g.station_S}}' style="display:none;">
                                        <div class="thead">
                                            <div class="tr col-md-12 firstrow">
                                                <div class="td col-md-1">Station</div>
                                                <div class="td col-md-1">Type</div>
                                                <div class="td col-md-3">WI Description</div>
                                                <div class="td col-md-1">Start Time</div>
                                                <div class="td col-md-1">End Time</div>
                                                <div class="td col-md-1">User Name</div>
                                                <div class="td col-md-2">Short Description</div>
                                                <div class="td col-md-1">Input</div>
                                                <div class="td col-md-1">WI Sequence</div>

                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div *ngFor="let cd of g.childdetails;let isLastRow=last" [ngClass]="{'lastrow' : isLastRow}" class="tr col-md-12 allrow">
                                                <div class="td col-md-1">{{cd.station_S}}</div>
                                                <div class="td col-md-1">{{cd.wI_Type_S}}</div>
                                                <div class="td col-md-3">{{cd.wI_Description_S}}</div>
                                                <div class="td col-md-1">{{cd.start_Time_T}}</div>
                                                <div class="td col-md-1">{{cd.end_Time_T}}</div>
                                                <div class="td col-md-1">{{cd.user_Name_S}}</div>
                                                <div class="td col-md-2">{{cd.short_Description_S}}</div>
                                                <div class="td col-md-1">{{cd.input_S}}</div>
                                                <div class="td col-md-1">{{cd.wI_Seq_S}}</div>
                                            </div>

                                        </div>
                                        <div *ngIf="g.childdetails?.length==0" class="tbody">
                                            <div class="tr col-md-12 lastrow">
                                                <div class="td col-md-12" style="text-align:center">No Data Found</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="M_GRILLE?.length==0" class="tbody">
                                <div class="tr col-md-12 lastrow">
                                    <div class="td col-md-12" style="text-align:center">No Data Found</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="modelType=='X79'" id="Torque_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Torque">
            <div class="panel-heading group9" (click)="panelToggle('Torque')">
                <h4 class="panel-title">
                    Torque Data
                    <a class="collapseBtn" style="float:right; margin-right:10px;cursor:pointer;">
                        <i id="i_Torque" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Torque" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <div id="tbl_i_Torque" class="gradient-style">
                            <div class="thead">
                                <div class="tr col-md-12">
                                    <div class="td col-md-8">Station</div>
                                    <div class="td col-md-4">Quantity</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div *ngFor="let t of M_Torque">
                                    <div class="tr col-md-12 parent" (click)="showchild($event,t.station_S+'Torque')">
                                        <div class="td col-md-8">{{t.station_S}} </div>
                                        <div class="td col-md-4">{{t.qty}} </div>
                                        <a class="arrow" style="cursor:pointer;">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="gradient-style child" attr.data-hide='{{t.station_S}}Torque' style="display:none;">
                                        <div class="thead">
                                            <div class="tr col-md-12 firstrow">
                                                <div class="td col-md-2">Equipment Id</div>
                                                <div class="td col-md-2">Torque Angle</div>
                                                <div class="td col-md-2">Torque Status</div>
                                                <div class="td col-md-2">Torque Value</div>
                                                <div class="td col-md-2">Torque Type</div>
                                                <div class="td col-md-2">Creation Time</div>
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div *ngFor="let tt of t.childdetails;let isLastRow=last" [ngClass]="{'lastrow' : isLastRow}" class="tr col-md-12 allrow">
                                                <div class="td col-md-2">{{tt.equipment_Id_S}} </div>
                                                <div class="td col-md-2">{{tt.torqueAngle_S}} </div>
                                                <div class="td col-md-2">{{tt.torqueStatus_S}} </div>
                                                <div class="td col-md-2">{{tt.torqueValue_S}} </div>
                                                <div class="td col-md-2">{{tt.torque_Type_S}} </div>
                                                <div class="td col-md-2">{{tt.creation_time}} </div>
                                            </div>
                                        </div>
                                        <div *ngIf="t.childdetails?.length==0" class="tbody">
                                            <div class="tr col-md-12 lastrow">
                                                <div class="td col-md-12" style="text-align:center">No Data Found</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="M_Torque?.length==0" class="tbody">
                                <div class="tr col-md-12 lastrow">
                                    <div class="td col-md-12" style="text-align:center">No Data Found</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="Operator_group" class="panel-group">
        <div class="panel panel-default" data-id="i_Operator">
            <div class="panel-heading group10" (click)="panelToggle('Operator')">
                <h4 class="panel-title">
                    Operator Genealogy
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_Operator" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="Operator" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_Operator" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Station</td>
                                    <td>Badge ID</td>
                                    <td>User Name</td>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let op of M_Operator">
                                    <td>{{op.station_S}}</td>
                                    <td>{{op.user_Name_S}}</td>
                                    <td>{{op.first_name}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_Operator?.length==0" class="tbody">
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="EOLCamera_group" class="panel-group">
        <div class="panel panel-default" data-id="i_EOLCamera">
            <div class="panel-heading group10" (click)="panelToggle('EOLCamera')">
                <h4 class="panel-title">
                    EOL Camera Images
                    <a class="collapseBtn" style="float:right; margin-right:10px;">
                        <i id="i_EOLCamera" class="fa fa-chevron-circle-down"></i>
                    </a>
                </h4>
            </div>
            <div id="EOLCamera" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tableParent">
                        <table id="tbl_EOLCamera" class="gradient-style">
                            <thead>
                                <tr>
                                    <td>Line</td>
                                    <td>Station</td>
                                    <td>Station ID</td>
                                    <td>Sequence Number</td>
                                    <td>Source Folder</td>
                                    <td>Destination Folder</td>
                                    <td>Files</td>

                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let ec of M_EOLCamera">
                                    <td>{{ec.line_S}}</td>
                                    <td>{{ec.station_S}}</td>
                                    <td>{{ec.stationID_I}}</td>

                                    <td>{{ec.sequenceNumber_S}}</td>
                                    <td>{{ec.sourceFolder_S}}</td>
                                    <td>{{ec.destinationFolder_S}}</td>
                                    <td data-toggle="modal" data-target="#modal_EOLCamera"><a>Click To See Images</a></td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="M_EOLCamera?.length==0" class="tbody">
                                <tr>
                                    <td colspan="7" style="text-align:center">No Data Found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



 <!-- Modal -->
<div id="modal_EOLCamera" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">EOL Camera Images</h4>
            </div>
            <div class="modal-body" id="modal_EOLCamera_body">
                <div class="row">
                    <div class="col-md-4" *ngFor="let img of arrEOL">
                        <div class="thumbnail">
                            
                                <img src="{{img.url}}" style="width:100%">
                                <div class="caption">
                                    <p>{{img.fileName}}</p>
                                </div>
                           
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
           
        </div>

    </div>
</div>

<!--<div class="row" id="id22">
    <div class="col-md-4" *ngFor="let img of arrEOL">
        <div class="thumbnail">
            <img src="../../../../assets/img/chart.png" />
            <div class="caption">
                <p>img.fileName_S</p>
            </div>

        </div>
    </div>
    <div class="col-md-4" *ngFor="let img of arrEOL">
        <div class="thumbnail">
            <img src="../../../../assets/img/chart.png" />
            <div class="caption">
                <p>img.fileName_S</p>
            </div>

        </div>
    </div>
    <div class="col-md-4" *ngFor="let img of arrEOL">
        <div class="thumbnail">
            <img src="../../../../assets/img/chart.png" />
            <div class="caption">
                <p>img.fileName_S</p>
            </div>

        </div>
    </div>
</div>-->



