<style>
    .clockpicker-plate {
        width: 150px !important;
        height: 150px !important;
    }

    .tableParent {
        width: 100%;
        overflow: auto;
    }
</style>
<div id="BirthCertificate" style="background:#fff;">
    <div class="hdFixed" id="sss">
        <h3 class="exportBtn">
            <a [routerLink]="'/Master/REPORTS/ShipmentAuditor'" style="margin-right:7px" class="downloadBtn" data-toggle="tooltip" title="Back to VIN Details">
                <i class="fa fa-arrow-left"></i>
            </a>

        </h3>
        <h3 style="text-align:center;margin: 0;color:#0a0203;">
            <b></b>
        </h3>

    </div>



    <div class="tableParent" style="margin-top: 34px;">

        <div id="tbl_i_MachineControlledOperations" class="gradient-style">
            <div class="thead">
                <div class="tr ">
                    <div class="td" style="min-width:85%">Part Number</div>
                    <!--<div class="td" style="min-width:55%">Part Description</div>-->
                    <div class="td" style="min-width:15%">Count</div>
                </div>
            </div>
            <div class="tbody" style="border:0.5px solid;">
                <div *ngFor="let m of P_dataSource;let i = index;">
                    <div class="tr parent" (click)="showchild($event,m.partNumber_S,i)">
                        <div class="td" style="min-width:85%">{{m.partNumber_S}}</div>
                        <!--<div class="td" style="min-width:55%">{{m.part_desc_S}}</div>-->
                        <div class="td" style="min-width:15%">{{m.cnt}} </div>
                        <a class="arrow" style="cursor:pointer;">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                    <div class="gradient-style child" attr.data-hide='{{m.partNumber_S+i}}' style="display:none;padding:5px;">
                        <div class="thead">
                            <div class="tr firstrow">

                                <div class="td " style="min-width:50%">Part Number</div>
                                <div class="td " style="min-width:30%">VINs</div>
                                <div class="td " style="min-width:20%">Message</div>
                            </div>
                        </div>
                        <div class="tbody">
                            <div *ngFor="let mm of m.childDetails;let isLastRow=last" [ngClass]="{'lastrow' : isLastRow}" class="tr col-md-12 allrow">
                                <div class="td " style="min-width:50%">{{mm.partNumber_S}}</div>
                                <div class="td " style="min-width:30%">{{mm.viN_S}}</div>
                                <div class="td " style="min-width:20%">
                                    <a attr.data-msg="{{mm.rawSRMessage_S}}" attr.data-vin="{{mm.viN_S}}" (click)="showSrMsg(mm.rawSRMessage_S,mm.viN_S)" data-toggle="modal">Show SR Message</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div *ngIf="M_MCO?.length==0" class="tbody">
                <div class="tr col-md-12">
                    <div class="td col-md-12" style="text-align:center">No Data Found</div>
                </div>
            </div>-->
        </div>

    </div>

</div>

<div id="modal_Shipment" class="modal fade" role="dialog">
    <div class="modal-dialog modal-ld">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">Shipment</h4>-->
            </div>
            <div class="modal-body" id="modal_Shipment_body">
                <h2>SR for VIN : {{vin}}</h2>
                <h3>{{srmessage}}</h3>
            </div>

        </div>

    </div>
</div>