#tbl1, .DTbale {
    width: 100% !important;
}

#mainSecondDivSub {
    /*padding: 5px 15px 15px 15px;*/
}

    #mainSecondDivSub h4 {
        text-align: center;
    }

.sidenav {
    height: 92vh;
    max-height: 92vh;
    overflow-y: auto;
    /*height: 100%;*/
    width: 0;
    position: fixed;
    z-index: 888888;
    top: 54px;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    box-shadow: 4px 0px 5px #CCC;
}

    .sidenav a {
        text-decoration: none;
        font-size: 14px;
        color: #FFF;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #FFF;
        }

.offcanvas a:focus {
    color: #034962;
    background: rgb(255, 255, 255);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    /*.sidenav {
        padding-top: 15px;
    }*/

    .sidenav a {
        font-size: 13px;
    }
}

.btn-primary {
    color: #fff;
    background-color: #009ed3;
    border-color: #24516d;
}

    .btn-primary:active, .btn-primary:hover {
        background-color: #50a0d3;
        border-color: #50a0d3;
    }



.nesttable {
    width: 100%;
}

.m_top_5 {
    margin-top: 5px;
}

.nesttable_tr {
    background: #034962;
}

table.dataTable.hover tbody .nesttable_tr:hover {
    background: #034962 !important;
}

.nesttable_tr :hover {
    background: #034962 !important;
}

table.dataTable .nesttable tbody tr {
    background-color: transparent;
}

.nesttable_tr th {
    width: 25%;
    border-bottom: none;
    padding: 0;
    text-align: center;
}

.nesttable tr td {
    width: 25%;
    text-align: center;
}

.filter_toggle_btn {
    position: fixed;
    top: 43%;
    padding: 7px;
    z-index: 888888;
    border-radius: 0 5px 5px 0;
    font-size: 1.5em;
    opacity: 0.5;
        background: #50a0d3;
        margin-left:0px;
    /*display:none;*/
}

#btnFilter:hover {
    opacity: 1;
}

.clearall {
    font-size: 15px !important;
}

.addfilter {
    padding: 6px 15px;
    float: left;
    margin-right: 7px;
    margin-top: 7px;
    background: #ddd;
    position: relative;
    cursor: default;
    box-shadow: 2px 2px 2px #9c9696;
}

.clo {
    display: none;
    position: absolute;
    z-index: 999999;
    right: -6px;
    top: -4px;
    background: #8a8383;
    border: 1px solid #8a8383;
    border-radius: 50%;
    color: #FFF;
    padding: 0px 3px 1px 3px;
    cursor: pointer;
    line-height: 1em;
    font-size: 1em;
}

.filterCheap:hover .clo {
    display: block;
}

.filterCheap {
    font-size: 11px;
    float: left;
    margin-right: 5px;
    position: relative;
    background: #CCC;
    padding: 3px 10px;
    margin-bottom: 7px;
    box-shadow: 2px 2px 3px #a59d9d;
}

.filterParent {
    margin: 5px 5px 3px 5px;
}

.borderBottom {
    border-bottom: 1px solid #CCC;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.accordion-menu {
    width: 100%;
    max-width: 350px;
    padding: 0;
    background: #fff;
    border-radius: 4px;
}

    .accordion-menu li.open .dropdownlink {
        /*color: #034962;*/
    }

        .accordion-menu li.open .dropdownlink .fa-chevron-down {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

/*.accordion-menu li:last-child .dropdownlink {
        border-bottom: 0;
    }*/

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    color: #585b5d;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

    .dropdownlink:hover {
        color: #000;
        font-weight: bold;
        background: rgba(80, 160, 211, 0.31);
    }

        .dropdownlink:hover i {
            color: #fff;
        }

    .dropdownlink i {
        position: absolute;
        top: 11px;
        left: 16px;
    }

    .dropdownlink .fa-chevron-down {
        right: 12px;
        left: auto;
    }

.submenuItems {
    display: none;
    background: #eff5f7;
    padding: 0;
}

    .submenuItems li {
        border-bottom: 1px solid #B6B6B6;
    }

        .submenuItems li a {
            padding-left: 40px;
        }

    .submenuItems a {
        display: block;
        color: #540f11;
        padding: 12px 12px 12px 45px;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

        .submenuItems a:hover {
            background-color: rgb(227, 227, 227);
            color: #701216;
        }

    .submenuItems i {
        margin-right: 7px;
    }

#sClock {
    font-size: 22px;
    font-family: -webkit-pictograph;
    /*font-family: digital;*/
}
@font-face {
    font-family: digital;
    /*src: url(../../../assets/css/font/digital-7.ttf);*/
}
.DateRange {
    cursor: pointer;
}

.firstLI {
    padding-left: 45px;
    color: #FFF;
    background: rgb(80, 160, 211);
    font-weight: bold;
    cursor: default;
}

    .firstLI:hover {
        color: #FFF;
        background: rgb(80, 160, 211);
        font-weight: bold;
    }

.danaTable th, td {
    min-width: 120px;
}

.danaTable table {
    border-left: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}

.danaTable td {
    border-style: none solid !important;
    vertical-align: top;
}

.danaTable tr:hover td {
    background: rgba(3, 73, 98, 0.22);
}

.parentHead {
    text-align: center;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF !important;
    padding: 5px;
}

.borderLeft {
    border-left: 1px solid #FFF;
}

.childHead {
    padding: 7px 18px;
}

#daterange_picker {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

/*#tbl_Production th:nth-child(1) 
{
    background:#c0dbe4 !important;
}
#tbl_Production td:nth-child(1)
{
    background:#c0dbe4 !important;
}*/
.filterSelect {
    padding: 5px;
    padding-bottom: 0;
}

.margin0px {
    margin: 0;
}
.reportHeading {
    margin-bottom: 0px;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 2px 1px 2px #969393;
}