﻿<!--<div id="mySidenav" class="sidenav">
    <div>
        <div class="dropdownlink firstLI">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter
            <a *ngIf="filterdata?.length > 0" class="pull-right clearall" (click)="ClearAllFilters()">Clear All</a>
        </div>

    </div>
    <div>
        <div id="daterange_picker" class="DateRange" *ngFor="let dateInput of dateInputs">
            <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }"
                 (selected)="selectedDate($event, dateInput)">
                <span class="form-control uneditable-input" name="daterange">
                    {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
                </span>
                <span class="input-group-btn">
                    <span type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar iconColor"></i></span>
                </span>
            </div>

        </div>
    </div>
    <ul class="accordion-menu" [dragula]='"menu-bag"'>
       
        <li *ngIf="filterdata?.length > 0" class="borderBottom">
            <div class="filterParent">

                <div class="filterCheap" *ngFor="let f of filterdata">
                    {{f.value}}
                    <div (click)="Itemclick($event)" attr.data-name="{{f.column}}" attr.data-close="{{f.chk_id}}" id="{{f.ele_id}}" class="clo">x</div>
                </div>

                <div style="clear:both"></div>
            </div>
        </li>
        
        <li >
            <div class="dropdownlink">
                Line
                <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
            </div>
            <ul id="Line_list" class="submenuItems">
                <li>
                    <div style="padding: 5px 5px 5px 5px;">
                        <div class="has-feedback">
                            <input placeholder="Search Line"
                                   type="text"
                                   (keyup)="onkeypress($event)"
                                   class="form-control input-md global_filter"
                                   id="filter_Line"
                                   data-name="Line_list" />
                            <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                        </div>
                    </div>
                </li>
                <li (click)="Itemclick($event)" *ngFor="let ln of col_LINE;let i = index;"
                    data-name="LINE"
                    attr.data-nm="{{ln.line_name}}" attr.data-valid="{{ln.line_id}}"
                    id="li_ln_{{ln.line_name}}">
                    <a id="a_ln{{ln.line_name+i}}"><i id="chk_ln{{i+1}}" class="fa fa-square-o iconColor"></i>{{ln.line_name}}</a>
                </li>
            </ul>
        </li>
     
        
        <li></li>
    </ul>
    <div class="btn btn-block btn-primary" style="margin-top:10px" (click)="getFilterReportData()">EXECUTE</div>
</div>-->



<div id="main">
    <!--<div id="btnFilter" onclick="openNav()" class="filter_toggle_btn" style="display:none;">
        <i id="filterToggle" class="fa fa-angle-right"></i>
    </div>-->
    <div id="mainSecondDiv">
        <router-outlet></router-outlet>
        <table id="tbl_Maintenance" class="display" cellspacing="0" style="width:100%"></table>
    </div>

</div>
