﻿.reviews {
        color: #555;
        font-weight: bold;
    }

    .notes {
        color: #999;
        font-size: 12px;
    }

    .tab-content {
        min-height: 400px;
        padding: 10px;
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .nav-tabs li a
    {
        padding:5px;
    }
    .nav-tabs li h4
    {
        font-size: 15px;
        margin: 4px 0 2px 0;
    }
    #tbl_REPORTS th td
    {
        max-width:150px;
    }

    /*Date range picker*/
.ranges li {
    color: #7a1418 !important;
}
/*end*/

/*** Table Styles **/
 
.gradient-style td {
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
}

.gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.gradient-style tr
{
	border: 1px rgba(0, 0, 0, 0.1) solid;
}
.gradient-style th
{
	font-size: 15px;
	padding: 12px;
    font-weight: 600;
    white-space: nowrap;
}

.gradient-style tr:hover td
{
	background: rgba(189, 189, 189, 0.32);
	cursor: pointer;
}
tr:hover td
{
	background: rgba(189, 189, 189, 0.32);
	cursor: pointer;
}

/*table end*/

/*panel*/
.panel-heading{
    position:relative;
    border:2px solid;
}

.group1
{
    border-color: #0896c5;
    background: rgba(8, 150, 197, 0.22);
}
.group2
{
    border-color: #08c561;
    background: rgba(8, 197, 97, 0.27);
}
.group3
{
    border-color: #0935a5;
    background: rgba(9, 53, 165, 0.22);
}
.group4
{
    border-color: #a53f09;
    background: rgba(165, 63, 9, 0.22);
}
.group5
{
    border-color: #a50946;
    background: rgba(165, 9, 70, 0.22);
}
.group6
{
    border-color: #09a59b;
    background: rgba(9, 165, 155, 0.22);
}
.group7
{
        border-color: #b7b209;
    background: rgba(183, 178, 9, 0.22);
}


.group8 {
    border-color: #e2550d;
    background: rgba(226, 85, 13, 0.24);
}
.group9 {
    border-color: #04e604;
    background: rgba(0, 255, 0, 0.18);
}
.group10{
    border-color: #e604b2;
    background: rgba(230, 4, 178, 0.18);
}

.collapseBtn
{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
}
.marginLR
    {
        margin: 0 15px;
    }
.feildsDetials
{
    text-align: center;
    padding: 8px;
    border: 2px solid #787d82;
    border-radius: 3px;
}
.downloadBtn
{
   border: 2px solid #009ed3;
    padding: 5px 10px;
    background: #0b7ea5;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
/*end*/

/** div Table Styles */
 
.gradient-style .td {
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  /*min-width: 200px;*/
  
}
.child .td
{
     padding:5px !important;   
     min-height: 32px;
     /*width: -webkit-stretch;*/
     width: stretch;

   
}
.parent .td {
     min-height: 42px;
     min-width:33%;
}
.gradient-style
{
 font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 font-size: 12px;
 width: 100%;
 text-align: left;
 border-collapse: collapse;
}
.gradient-style .tr
{
 border: 1px rgba(0, 0, 0, 0.1) solid;
 /*width: auto;
    /*display: -webkit-inline-box;*/
 display: inline-flex;
 position: relative;
     width: auto;
    min-width: 100%;
}
.gradient-style .th
{
 font-size: 15px;
 padding: 12px;
    font-weight: 600;
    white-space: nowrap;
}

.gradient-style .tr:hover .tr
{
 background: rgba(189, 189, 189, 0.32);
 cursor: pointer;
}
.tr:hover 
{
 background: rgba(189, 189, 189, 0.32);
 cursor: pointer;
}
.tr{
    padding:0;
}
.thead .tr{
    background-color:#50a0d3 !important;
    color: #FFF;

    /*width: auto;
    display: -webkit-inline-box;*/

}
.child .thead .tr{
    background-color: rgba(120, 125, 130, 0.81) !important;
    color: #FFF;
}
.firstrow
{
    border-top: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
}
.lastrow
{
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
}.allrow
 {
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
 }
/*div table end*/

/* Popup */
.modal {
top:35px;
bottom:auto;
}
.pad0 {
    padding-right: 0px;
    padding-left: 0px;
}
.popover{
    -ms-transform: scale(0.5) !important;
    -webkit-transform: scale(0.5) !important; 
    transform: scale(0.5) !important;
    top:60px !important;
    margin-left:50px;
}

/*Drag & Drop*/
.gu-transit {
/*border:2px solid #3576a0  ;*/
}

@media screen and (max-width: 450px) {
 
  .feildsDetials
{
    display: inline-grid;
        width: 100%;
}

}

#mainSecondDiv {
    padding: 5px 15px 15px 15px;
}

    #mainSecondDiv h4 {
        text-align: center;
    }
