<div class="page">

    <div class="height7" style="background: #e6e6e6;">
        <img class="logo" src="assets/img/logo.png" />
        <div class="heading">
            <h2>GRILLE & HEADER</h2>
        </div>
        <div class="pull-right time">
            <h2>{{time}}</h2>
        </div>
    </div>

   

    
    <div class="height46">
        <div class="height33">
            <div class="col-md-12 height100">
                <div class="col-md-4 boxParent paddLeft5">
                    <div class="box">
                        <h2 class="boxLbl">GRILLE QUEUE</h2>
                        <h1 id="G_QUEUE" class="boxValue red">{{G_QUEUE}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">GRILLE BUFFER</h2>
                        <h1 id="G_BUFFER" class="boxValue green">{{G_BUFFER}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">LAST RECEIVED</h2>
                        <h1 class="boxValue">{{G_LASTRECEIVED}}</h1>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="height33">
            <div class="col-md-12 height100">
                <div class="col-md-4 boxParent paddLeft5">
                    <div class="box">
                        <h2 class="boxLbl">INSTALL POINT</h2>
                        <h1 class="boxValue">{{G_INSTALLPOINT}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">LAST SEQ BUILD</h2>
                        <h1 class="boxValue">{{G_LASTBUILD}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">LAST SHIPPED</h2>
                        <h1 class="boxValue">{{G_LASTSHIPPED}}</h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="height24">
            <div class="col-md-12 height100">
                <div class="col-md-6 boxParent height100 paddLeft5">
                    <div class="tableHead height50">
                        <div class="col1">
                            <h2 class="colHead">#</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colHead">1ST</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colHead">2ND</h2>
                        </div>
                    </div>
                    <div class="tableOddRow height50">
                        <div class="col1">
                            <h2 class="colRow">GRILLE</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colRow">{{G_1ST}}</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colRow">{{G_2ND}}</h2>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 boxParent height100 paddLeft5">
                    <div class="tableHead height50">
                        <div class="col1">
                            <h2 class="colHead">#</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colHead">1ST</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colHead">2ND</h2>
                        </div>
                    </div>
                    <div class="tableOddRow height50">
                        <div class="col1">
                            <h2 class="colRow">FCA</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colRow">{{G_FCA_1ST}}</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colRow">{{G_FCA_2ND}}</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="height10" style="padding:5px 5px 0 5px;">
            <div class="lastMSG height100">
                <h2 class="red">LAST MSG : {{G_LAST_MSG}} MIN AGO</h2>
            </div>
        </div>
    </div>
   
    <div class="height46">
        <div class="height33">
            <div class="col-md-12 height100">
                <div class="col-md-4 boxParent paddLeft5">
                    <div class="box">
                        <h2 class="boxLbl">HEADER QUEUE</h2>
                        <h1 id="H_QUEUE" class="boxValue red">{{H_QUEUE}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">HEADER BUFFER</h2>
                        <h1 id="H_BUFFER" class="boxValue green">{{H_BUFFER}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">LAST RECEIVED</h2>
                        <h1 class="boxValue">{{H_LASTRECEIVED}}</h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="height33">
            <div class="col-md-12 height100">
                <div class="col-md-4 boxParent paddLeft5">
                    <div class="box">
                        <h2 class="boxLbl">INSTALL POINT</h2>
                        <h1 class="boxValue">{{H_INSTALLPOINT}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">LAST SEQ BUILD</h2>
                        <h1 class="boxValue">{{H_LASTBUILD}}</h1>
                    </div>
                </div>
                <div class="col-md-4 boxParent">
                    <div class="box">
                        <h2 class="boxLbl">LAST SHIPPED</h2>
                        <h1 class="boxValue">{{H_LASTSHIPPED}}</h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="height24">
            <div class="col-md-12 height100">
                <div class="col-md-6 boxParent height100 paddLeft5">
                    <div class="tableHead height50">
                        <div class="col1">
                            <h2 class="colHead">#</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colHead">1ST</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colHead">2ND</h2>
                        </div>
                    </div>
                    <div class="tableOddRow height50">
                        <div class="col1">
                            <h2 class="colRow">HEADER</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colRow">{{H_1ST}}</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colRow">{{H_2ND}}</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 boxParent height100 paddLeft5">
                    <div class="tableHead height50">
                        <div class="col1">
                            <h2 class="colHead">#</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colHead">FCA</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colHead">AIM</h2>
                        </div>
                    </div>
                    <div class="tableOddRow height50">
                        <div class="col1">
                            <h2 class="colRow">JPH</h2>
                        </div>
                        <div class="col2">
                            <h2 class="colRow">{{H_FCA_JPH}}</h2>
                        </div>
                        <div class="col3">
                            <h2 class="colRow">{{H_AIM_JPH}}</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="height10" style="padding:5px 5px 0 5px;">
            <div class="lastMSG height100">
                <h2 class="red">LAST MSG : {{H_LAST_MSG}} MIN AGO</h2>
            </div>
        </div>
    </div>

</div> 

<div id="loaderDiv" class="loaderDiv_P">
    <div class="loaderDiv_C">
        <img src="assets/img/loading.GIF" width="100">
    </div>

</div>