﻿<div class="loginbg" style="background-image:url(assets/img/login/background.jpg)">
    <div class="main">

        <div id="login" class="main_box">
            <fieldset>
                <div style="width: 190px; margin: 0 auto;">
                    <img src="assets/img/logo.png" style="width:100%" />
                </div>
                <form (submit)="login(username.value,password.value)">
                    <ul style="padding-left:0">
                        <li id="li_uname">
                            <input id="uname" type="text" focus="true" class="text" placeholder="Username" value="admin" (keyup.enter)="login(username.value,password.value)" autocomplete="off" #username />
                            <i class="icon user" style="background-image:url(assets/img/login/txtuser.png)"></i>
                        </li>
                        <li id="li_pwd">
                            <input id="pwd" type="password" value="admin@123" placeholder="Password" (keyup.enter)="login(username.value,password.value)" #password />
                            <i class="icon lock" style="background-image:url(assets/img/login/key.png)"></i>
                        </li>
                    </ul>
                    <!--<a href="Login.html">Login.html</a>-->
                    <input id="btnlogin" type="button" (click)="login(username.value,password.value)" (keyup.enter)="login(username.value,password.value)" value="Sign In">
                    <button type="submit" style="display:none">hidden submit</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>