
<div class="col-md-12" style="height:100vh">

    <div class="header height7">
        <div class="width50">
            <div class="width25 border"></div>
            <div class="width75 border">
                <h1>HEADER</h1>
            </div>
        </div>
        <div class="width50 border">
            <h1>GRILLE</h1>
        </div>
    </div>
    <div class="height18 racksinbuffer">
        <div class="width50">
            <div class="width25 border">
                <h1 class="font2 pad25">RACKS IN BUFFER</h1>
            </div>
            <div class="width75 border">
                <h1 class="font6 pad10">{{rHEADER}}</h1>
            </div>
        </div>
        <div class="width50 border">
            <h1 class="font6 pad10">{{rGRILLE}}</h1>
        </div>
    </div>
    <div class="height50 rackload">
        <div class="width50">
            <div class="width25 border">
                <h1 class="font2 padding67">RACKS IN LOADING</h1>
            </div>
            <div class="width75">
                <div class="width25 border" style="height:100%">
                    <div class="height25 borderbottom {{H_class_1}}">
                        <h1 class="font5">{{H_Rack_Id_1}}</h1>
                    </div>
                    <div class="height25 borderbottom {{H_class_2}}">
                        <h1 class="font5">{{H_Rack_Id_2}}</h1>
                    </div>
                    <div class="height25 borderbottom {{H_class_3}}">
                        <h1 class="font5">{{H_Rack_Id_3}}</h1>
                    </div>
                    <div class="height25">
                        <h1 class="font5">&nbsp;</h1>
                    </div>
                </div>
                <div class="width75 border padding9">
                    <h1 class="font5">BUFFER</h1>
                    <h1 class="font10">{{bufferHEADER}}</h1>
                </div>
            </div>
        </div>
        <div class="width50">
            <div class="width25 border" style="height:100%">
                <div class="height25 borderbottom {{G_class_1}}">
                    <h1 class="font5">{{G_Rack_Id_1}}</h1>
                </div>
                <div class="height25 borderbottom {{G_class_3}}">
                    <h1 class="font5">{{G_Rack_Id_3}}</h1>
                </div>
                <div class="height25 borderbottom {{G_class_5}}">
                    <h1 class="font5">{{G_Rack_Id_5}}</h1>
                </div>
                <div class="height25">
                    <h1 class="font5">&nbsp;</h1>
                </div>
            </div>
            <div class="width25 border" style="height:100%">
                <div class="height25 borderbottom {{G_class_2}}">
                    <h1 class="font5">{{G_Rack_Id_2}}</h1>
                </div>
                <div class="height25 borderbottom {{G_class_4}}">
                    <h1 class="font5">{{G_Rack_Id_4}}</h1>
                </div>
                <div class="height25 borderbottom {{G_class_6}}">
                    <h1 class="font5">{{G_Rack_Id_6}}</h1>
                </div>
                <div class="height25">
                    <h1 class="font5">&nbsp;</h1>
                </div>
            </div>
            <div class="width50 border padding9">
                <h1 class="font5">BUFFER</h1>
                <h1 class="font10">{{bufferGRILLE}}</h1>
            </div>
        </div>
    </div>
    <div class="height18 loadstatus">
        <div class="width50">
            <div class="width25 border">
                <h1 class="font2 pad25">LOADING STATUS</h1>
            </div>
            <div class="width75 border">
                <h1 class="font6">{{statusHEADER}} out of {{H_TotalCount}}</h1>
            </div>
        </div>
        <div class="width50 border">
            <h1 class="font6">{{statusGRILLE}} out of {{G_TotalCount}}</h1>
        </div>
    </div>
    <div class="footer height7 border green">
        <h1>{{TRUCK}}</h1>
    </div>

    <!-- <div class="col-md-6">

            <div class="col-md-4 border">
                <div class="heading" style="background:#fff;">
                    <h1> &nbsp; </h3>
                </div>

                <div class="racksinbuffer">
                    <h1>RACKS IN BUFFER</h3>
                </div>
            </div>
            <div class="col-md-8 border">
                <div class="heading">
                    <h1>HEADER</h3>
                </div>

                <div class="racksinbuffer">
                    <h1>5</h3>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="border">
                <div class="heading">
                    <h1>GRILLE</h3>
                </div>
                <div class="racksinbuffer">
                    <h1>10</h3>
                </div>
            </div>
        </div>
    -->
</div>

<div id="loaderDiv" class="loaderDiv_P">
    <div class="loaderDiv_C">
        <img src="assets/img/loading.GIF" width="100">
    </div>

</div>