
    .header {
        background: #fff2cc;
    }

        .header h1 {
            margin: 0;
            text-align: center;
        }

    .border {
        border: 1px solid #000;
    }

    .width25 {
        width: 25%;
        height: 100%;
        float: left;
    }

    .width50 {
        width: 50%;
        height: 100%;
        float: left;
    }

    .width75 {
        width: 75%;
        height: 100%;
        float: left;
    }

    .racksinbuffer h1 {
        text-align: center;
        margin: 0;
    }

    .loadstatus h1 {
        text-align: center;
        margin: 0;
    }

    .rackload h1 {
        text-align: center;
        margin: 0;
    }

    .font2 {
        font-size: 2em;
    }

    .font5 {
        font-size: 5em;
    }

    .font6 {
        font-size: 6em;
    }

    .font7 {
        font-size: 7em;
    }

    .font10 {
        font-size: 10em;
    }

    .pad10 {
        padding: 10px 0;
    }

    .pad25 {
        padding: 25px 0;
    }

    .padding9 {
        padding: 9% 0;
    }

    .padding67 {
        padding: 67% 0;
    }

    .height7 {
        height: 7%;
    }

    .height18 {
        height: 18%;
    }

    .height50 {
        height: 50%;
    }

    .height25 {
        height: 25%;
    }


    .green {
        background: #c6e0b4;
    }

    .yellow {
        background: #ffff00;
    }

    .footer h1 {
        text-align: center;
        margin: 0;
        padding: 2px 0;
    }

    .col-md-12 {
        padding: 0;
    }

    .borderbottom {
        border-bottom: 1px solid #000;
    }