﻿

<div style="margin-top:17%">
    <h1 style="text-align:center; font-size:4em">Dashboard</h1>
</div>



<!--<button (click)="isValid = !isValid">update</button>

<div *ngIf="isValid==true;else other_content">
    content here ...
</div>
<ng-template #other_content>other content here...</ng-template>-->
