﻿<style>
    .collapse.in {
        display: -webkit-box !important;
    }

    .fillterControl {
        margin-bottom: 10px;
    }
</style>


<!--<a style="margin-top: 7px;
    position: absolute
    right: 30px;
    font-size: 30px;">
    <i class="fa fa-chevron-circle-down"></i>
</a>-->
<!--<a class="btn btn-primary" style="padding: 6px;
    line-height: 1;
    position: absolute;
    right: 20px;
    margin-top: 5px;
    z-index: 9;" title="Hide/Show Fillter" data-toggle="collapse" data-target="#fillter">
    <i class="fa fa-chevron-circle-down"></i>
</a>-->

<div id="fillter" class="collapse in">

    <div class="row" style=" border 2px solid #787d82;
         padding 10px 5px 0 5px;
         margin-bottom 10px;
         background #50a0d326; width:100%;">
        <div class="col-md-2">
            <div class="fillterControl">
                <select id="ddl_ModuleType" (change)="onChange('Line')" class="form-control">
                    <option selected value="none">Select Module Type</option>
                    <option value="X83">X83</option>
                    <option value="X79">X79</option>
                    <option value="HEADER">HEADER</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="fillterControl">
                <input id="txt_SequenceNumber" type="text" (keyup)="onChange('Sequence')" class="form-control" placeholder="Enter Sequence Number">
            </div>
        </div>
        <div class="col-md-2">
            <div class="fillterControl">
                <input id="txt_VIN" type="text" (keyup)="onChange('VIN')" class="form-control" placeholder="Enter VIN">
            </div>
        </div>
        <div class="col-md-2">
            <div class="fillterControl">
                <div id="daterange_picker" class="DateRange" *ngFor="let dateInput of dateInputs">
                    <div class="input-group" daterangepicker [options]="{startDate:dateInput.start }"
                         (selected)="selectedDate($event, dateInput)">
                        <span class="form-control uneditable-input" name="daterange">
                            {{ dateInput.date}}
                        </span>
                        <span class="input-group-btn">
                            <span type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar iconColor"></i></span>
                        </span>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-2">
            <div class="fillterControl">

                <a class="btn btn-primary" (click)="searchData()" data-toggle="tooltip" title="Search!"><i class="fa fa-search"></i></a>
                <a style="margin-left: 10px;" class="btn btn-primary" (click)="refreshData()" data-toggle="tooltip" title="Refresh!"><i class="fa fa-refresh"></i></a>
                <a style="margin-left: 10px;" class="btn btn-primary" (click)="resetFilter()" data-toggle="tooltip" title="Reset!"><i class="fa fa-eraser"></i></a>

            </div>
        </div>

    </div>

</div>
<table id="tbl_VIN_Details" class="display" cellspacing="0" style="width:100%">

    <!--<thead style="background:#009ed3 !important">
        <tr>
            <th>VIN</th>
            <th>Sequence</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of datasource">
            <td (click)="callTableRowTD($event)">{{d[0]}}</td>
            <td (click)="callTableRowTD($event)">{{d[1]}}</td>
        </tr>
    </tbody>-->

</table>

<div *ngIf="datasource?.length==0" style="margin-top:10%">
    <h1 style="text-align:center; font-size:3em">No Data Found</h1>
</div>
